<body>
  <header>
    <nav class="navbar">
        <div class="dropdown">
            <button class="menu-button">Menu</button>
            <div class="menu-content">
                <a href="#home-link"> Início </a>
                <a href="#projeto-link"> O Projeto </a>
                <a href="#servico-link"> Serviços </a>
                <a href="#equipe-link"> Nossa Equipe </a>
                <a href="#contato-link"> Contato </a>
            </div>
        </div>
        </div>
    </nav>
    <div class="escala">
        <h3>Escala Digital</h3>
    </div>
    <a href="login.html" class="start-button">Comece Agora</a>
</header>
      